html {
    height: 100%;
}

body {
    background-image: url('../images/hex.png');
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 32px;
}

/* Page's heading */
header .container {
    padding-left: 0;
}

.navbar {
    padding-left: 0;
}

.navbar .active {
    border-bottom: 3px solid #fff;
}

.navbar-brand,h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

/* Default settings for content area */
.content {
    margin-top: 20px;
    padding: 20px;
    min-height: calc(60vh);
    background-color: #fff;
    border: 1px solid #ccc;
}

.pageHeader {
    color: #4aaaa5;
    padding-bottom: 10px;
    border-bottom: 3px solid #E5E5E5;
}

/* About Page */
#profilePic {
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Contact Page */

button[type="submit"] {
    color: #fff;
    background-color: #87B8B6;
}

button[type="submit"]:hover {
    background-color: #4aaaa5;
}

/* Sticky footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 40px;
    background-color: #777;
    border-top: 8px solid #4aaaa5;
    color: #fff;
    text-align: center;
  }

/* Bootstrap's medium devices (tablets and phones, 991.98px and below) */
@media (max-width: 991.98px) {
    .nav-item {
        border-bottom: 2px solid #87B8B6;
    }

    .nav-item:hover {
        border-bottom-color: #ccc;
    }
}